<!-- footer Start -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-offset-1 col-md-2">
      </div>
      <div class="col-xs-10 col-md-6 small">
        <p>The Danish Society of Artificial Intelligence is hosted and supported by the
          <br>
          <a
            href="https://www.sdu.dk/en/Om_SDU/Institutter_centre/Imada_matematik_og_datalogi">Department
            of Mathematics and Computer Science</a> of the <a
            href="https://www.sdu.dk/en">University of Southern Denmark</a>.
          <br>
          © Danish Society for Artificial Intelligence
          |
          <a
            href="https://www.sdu.dk/en/om_sdu/om_dette_websted/databeskyttelse">Data
            protection at SDU</a>
          |
          <a
            href="https://www.sdu.dk/da/om_sdu/om_dette_websted/databeskyttelse">Databeskyttelse
            på SDU</a>
        </p>
      </div>
    </div>
  </div>
</footer>