<!-- footer Start -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-offset-1 col-md-2">
        <a href="https://www.sdu.dk/en">
          <img class="img-responsive" style="margin-top: -1.5vw;"
            src="/assets/images/logos/sdu.png" alt=""></a>
      </div>
      <div class="col-xs-10 col-md-6 small">
        <p>Det Danske Selskab for Artificial Intelligence er vært for og støttet af
          <br>
          <a
            href="https://www.sdu.dk/en/Om_SDU/Institutter_centre/Imada_matematik_og_datalogi">Institut for Matematik og Datalogi</a> af <a
            href="https://www.sdu.dk/">Syddansk Universitet</a>.
          <br>
          © Danske Selskab for Artificial Intelligence
          |
          <a
            href="https://www.sdu.dk/en/om_sdu/om_dette_websted/databeskyttelse">Data
            protection at SDU</a>
          |
          <a
            href="https://www.sdu.dk/da/om_sdu/om_dette_websted/databeskyttelse">Databeskyttelse
            på SDU</a>
        </p>
      </div>
    </div>
  </div>
</footer>