<div markdown="1">

# Statutes for the Danish Society for Artificial Intelligence

## §1 Name and seat
"Danish Society for Artificial Intelligence" (DSAI) is an association founded in Denmark following Danish jurisdiction.

## §2 Purpose
The purpose of DSAI is to promote the development of artificial intelligence by bridging excellent research, education, and ground-breaking innovation within and between businesses, universities, organizations and individuals. The purpose will be supported by undertaking activities such as:

- Participating in the public debate on artificial intelligence
- Organizing and sanctioning conferences and workshops
- Shape the ethical application of AI methods
- Developing joint research and innovation projects 
- Developing courses and curricula
- Provide access to material created or curated by the community
- Actions to strengthen the visibility of the community and its members
- Facilitate recruitment for its members
- Strengthen dialog with policy makers and funding bodies
- Mapping, analysing and developing strategies for the community
- Promoting the work of the DSAI internationally 


## §3 Members

The members of the DSAI can be individuals as well as organizations, such as businesses, public institutions, and research institutions. Everybody is welcome to join the DSAI if:

- They pay the membership fee to the DSAI; 
- They participate in promoting the purpose described in §2 as agreed upon by a majority of the Council (§4.3) members.

Memberships can be terminated if:

- a member does not pay the membership fee;
- a member engages in behaviour or activities that undermines the purpose described in §2 or engage in disruptive or unethical conduct as agreed upon by a majority of the Council (§4.3) members;
- a letter of resignation is presented to the President of the Council by the member.


## §4 Organisation and governance

The organs of the DSAI are the General Assembly, the Council, and Advisory Boards (if established).

##### A. The General Assembly 

The General Assembly is the highest authority of DSAI. Each year before the end of April, the association holds one annual general assembly. There is the possibility to hold extraordinary General Assemblies. No ordinary General Assembly will be held during the year of establishment. The First annual General Assembly will take place before the end of April 2021.

The General Assemblies are convened in writing with at least three weeks’ notice to all members. The notice must contain the agenda of the meeting and indicate the content of any proposed amendments to the statutes. The notice must contain a list of nominated/appointed members to the Council.

Proposals to be considered at a general meeting (including proposals for candidates for the Council), must reach the President of the Council at least four weeks before the general meeting. All suggestions from members will be discussed in the Council and added to the invitation, if they are found to support the aims of the society.

The agenda for the General Assembly must include:

1. Choice of chairperson of the General Assembly.
2. Presentation of the Annual Report.
3. Approval of financial reports and audit report.
4. Approval of the budget.
5. Proposals from the Council or members.
6. Election of Council Members.
7. Election of auditor.
8. Any other business.

At the General Assembly, decisions are made on the matters included in the agenda of the General Assembly if the matters have been added to the invitation to the General Assembly. 

Extraordinary General Assemblies may be held when the Council finds it necessary or at the request of at least 1/3 of the members. The application for convening an Extraordinary General Assembly must be submitted in writing to the President of the Council and include a suggested agenda item.

Extraordinary General Assemblies requested by members of the association must be held at the latest 8 weeks after the request has come to the association. Extraordinary General Assemblies must be convened with at least four weeks’ notice.

At the General Assembly, all members have the right to vote. Each member has one vote. Decisions are taken by majority voting among those attending the General Assembly except where explicitly stated otherwise in the statutes..

Eligible attendees must have submitted a written registration to the President of the Council at least four weeks before the assembly. Voting can be done by written power of attorney. Each member can vote at the maximum by proxy for two other members. 

##### B. The Council

The management of the association is exercised by the Council in accordance with the statutes and decisions of the General Assembly. The Council is responsible to the General Assembly and is elected for a two-year period by the General Assembly. Re-election to the Council is allowed. 

The term of office expires at the ordinary General Assembly. The members of the Council are replaced on a rolling basis. Half of the Council members must be replaced or re-elected at the General Assembly. 

In the foundation year, 2019, half of the Council members are appointed for the period from autumn 2019 to April 2021 (1.5 years), the second half for autumn 2019 - April 2022 (2.5 years). Half of the members of the Council will therefore be on elections in 2021, and half in 2022. The distribution is decided at the first Council meeting. 

In the event that a member resigns from the Council prior to the end of the term of office, it is only mandatory to convene an extraordinary General Assembly with the purpose of holding elections, if the resignation of the member means that the board is no longer holds the capacity to vote.

The Council constitutes itself with one President and one Vice-President. The Council may unanimously decide to appoint observers to the Council. Observers may attend council meetings but do not have the right to vote.

Any member of the Council may require a council meeting to be held. 

The Council consists of six members. The president must be a representative of a higher education institution, a research institution, or a non-profit organization. The vice-president should normally be from a for-profit institution.

The Council is responsible for the overall management of the association. The duties of the Council include:

- Deciding which specific activities should be initiated
- The overall responsibility for the implementation of the association's activities and projects
- Approving budgets and deciding on membership fees 
- Preparing General Assemblies, including submission of the draft annual financial reports, audit reports
- Developing strategies  and action plans
- Developing and supporting the association's focus areas, including attracting funds for activities through applications for funds sponsorships, etc.

##### C. Council Meetings

The Council adopts its own rules of procedure.

The President presides over meetings of the Council and ensures that minutes are made.

The Council is in quorum when at least 2/3 of the Council Members are present. Voting can be done by written power of attorney. Each member may vote at the maximum by power of attorney for one member. 

Decisions are taken by a simple majority of those present. If there is a voting tie, the vote of the President will be decisive.

##### D. Advisory Boards

The Council may decide to set up advisory boards with national and international profiles. The Council determines the tasks for such forums. 
Participants in advisory boards may be non-members.. 

## §5 Financial Composition of the Organization 

The financial composition for the association's activities is established through:
- Fund and sponsorships
- Membership subscription
- Offering of paid courses, conferences, certifications and the like.

The association is non-profit. Possible annual profits must be used in accordance with the purpose of the association. No redistribution can be made to the association members unless decided by the General Assembly. 

## §6 Annual financial report 

The financial year of the Association coincides with the calendar year.

The Council presents an annual report to the members no later than six months after the end of the fiscal year.

The annual report should contain a balance-sheet, an overview of assets and obligations, and an overview of the economic activities undertaken by the DSAI in the past financial year. 

## §7 Liability

The DSAI accepts no liability for any activity carried out partly or wholly on its behalf.

## §8 Amending the statutes

Amending the DSAI Statutes can only happen by a 2/3 majority of the votes cast in the General Assembly. 

## §9 Dissolving the association

Dissolving the association can only happen by a 2/3 majority of the votes. After the decision to dissolve the Association, the Council is responsible for its execution.

</div>